.container {
    width: 500px;
    margin: 0 auto;
    border: 1px solid #222;
}
h1{
    background: black;
    color: white;
    text-align: center;
}
.book1{
    list-style-image: url('dot.png');
}
.book2{
    list-style-type: upper-roman;
}